@{
    ViewBag.Title = "Astro DB";
}

<div class="jumbotron">
    <h1>Astronomiskā datubāze</h1>
    <p class="lead">Astronomiskā datubāze piedāvā jums plašu informācijas klāstu par planētām, kosmosa izpētes misijām kā arī kosmiskajiem lidaparātiem.</p>
    
</div>

